@use '../../Styles/partials/global' as *;
@use '../../Styles/partials/mixins' as *;
@use '../../Styles/partials/typography' as *;
@use '../../Styles/partials/variables' as *;


.button{
    background-color: $supporting-light-blue;
    color: $primary-dark-teal;
    @include desktop-button-labels;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 2px solid $primary-dark-teal;
}