@font-face{
    font-family: 'volte';
    src: url('../../assets/fonts/Volte\ Rounded-normal-400-100.ttf')format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'volte';
    src: url("../../assets/fonts/Volte\ Rounded\ Medium-normal-500-100.ttf")format('truetype');
    font-weight: 500;
}

@font-face{
    font-family: 'volte';
    src: url('../../assets/fonts/Volte\ Rounded\ Semibold-normal-600-100.ttf')format('truetype');
    font-weight: 600;
}