// theme colors
$primary-dark-teal: #005151;
$primary-light-teal: #82E1D6;
$primary-white: #FFFFFF;
$supporting-lime: #78d64b;
$supporting-pink: #c724b1;
$supporting-light-blue: #29c2de;
$supporting-yellow: #FFC600;
$supporting-purple: #59178a;
$supporting-light-gray: #F5F5F5;
$supporting-dark-gray: #53565A;