@use "../../Styles/partials/global" as *;
@use "../../Styles/partials/typography" as *;
@use "../../Styles/partials/variables" as *;
@use '../../Styles/partials/mixins' as *;

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    background-color: $primary-white;
    border: 1px solid grey;
    &__image {
        width: 46px;
        height: 18px;
        padding: 1%;
    }
    &__text {
        font-size: 25px;
        padding-right: 2%;
        color: $primary-dark-teal;
    }
}