@use "../../Styles/partials/_variables.scss" as *;
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
}
.App {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cs-button--attachment {
  display: none;
}
.cs-message__content {
  background-color: #F0F2F7;
}
.cs-message--outgoing .cs-message__content {
  color: rgba(0, 0, 0, 0.87);
  background-color: #97E6DD;
  border-radius: 0.7em 0 0 0.7em;
}
.cs-chat-container .cs-message-input {
  border-top: solid 1px #9FA1A0;
  margin-top: auto;
  padding: 0.3em 0 0.3em 0em;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
}
.cs-message-input__content-editor-wrapper {
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  margin: 0;
  padding: 0.6em 0.9em;
  border-radius: 0.7em;
  flex-grow: 1;
}
.cs-message-input__content-editor {
  box-sizing: border-box;
  flex-grow: 1;
  background-color: #fff;
  outline: 0;
  border-top: 0 none;
  border-right: 0 none;
  border-bottom: 0 none;
  border-left: 0 none;
  overflow: visible;
  color: rgba(0, 0, 0, 0.87);
  overflow-wrap: anywhere;
  word-break: break-word;
  font-size: 20px;
}
.cs-button--send {
  color: #6EA9D7;
  background-color: #005151;
}
.svg-inline--fa {
  fill: white;
}
#my-svg-path {
  fill: white;
}
.profile-img-chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary-dark-teal;
}
.profile-img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}
.profle-h1 {
  margin: 0 0 0 2rem;
  // color: ;
}
.ellipse {
  position: absolute;
  width: 3138.62px;
  height: 3368.95px;
  left: -660.8px;
  top: -3419px;
  background-color: #005151;
  border-radius: 50%; /* creates an ellipse shape */
  transform: rotate(14.93deg);
}
.Profile-container {
  background-color: white;
}
.closeout-img {
  fill: black;
}
.closeout-img {
  height: 30px;
  padding-right: 1.5rem;
}